.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-block{
    display:inline;
}

.img-block img {
  width: auto;
  max-height: 150px;
}

.input-text,
.button{
  width: 250px;
  border: 0;
  height: 40px;
  font-size: 20px;
}

.button{
  background: aqua;
  margin: 10px auto;
}

.button:disabled{
  background: antiquewhite;
}

.button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.error{
    color: red;
    margin: 10px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
